---

--- 
@import "{{ site.theme }}";
@import "_svg-icons";

header {
    text-align: left;
    background: #000;
}

#banner {
    top: 125px;
    background: #ff8300;
    border: 1px solid #ff8300;
}

    #banner .button {
        border: 1px solid #bb6000;
        background: linear-gradient(#ffc088, #ff982b);
    }

    #banner .downloads span {
        color: #3e3b2f;
    }
    
    #banner #links {
    position: absolute;
    left: 50%;
    margin-left: -280px;
    top: 5px;
}


body {
    background: #dedede;
    font: 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
header h1 {
    font: 60px/65px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 25%;
    display: block;
    text-shadow: none;
}

header p {
    margin: 0px 25%;
    padding-left: -50%;
    display: block;
}

