.highlight {
    table {
        td {
            padding: 5px;
        }

        pre {
            margin: 0;
        }
    }

    color: #f8f8f2;
    background-color: #272822;
    padding: 5px 5px 5px 10px;
    margin: 6px;

    .w {
        color: #f8f8f2;
        background-color: #272822;
    }

    .err {
        color: #272822;
        background-color: #f92672;
    }

    .c {
        color: #75715e;
    }

    .ch {
        color: #75715e;
    }

    .cd {
        color: #75715e;
    }

    .cm {
        color: #75715e;
    }

    .cpf {
        color: #75715e;
    }

    .c1 {
        color: #75715e;
    }

    .cs {
        color: #75715e;
    }

    .cp {
        color: #f4bf75;
    }

    .nt {
        color: #f4bf75;
    }

    .o {
        color: #f8f8f2;
    }

    .ow {
        color: #f8f8f2;
    }

    .p {
        color: #f8f8f2;
    }

    .pi {
        color: #f8f8f2;
    }

    .gi {
        color: #a6e22e;
    }

    .gd {
        color: #f92672;
    }

    .gh {
        color: #66d9ef;
        background-color: #272822;
        font-weight: bold;
    }

    .k {
        color: #ae81ff;
    }

    .kn {
        color: #ae81ff;
    }

    .kp {
        color: #ae81ff;
    }

    .kr {
        color: #ae81ff;
    }

    .kv {
        color: #ae81ff;
    }

    .kc {
        color: #fd971f;
    }

    .kt {
        color: #fd971f;
    }

    .kd {
        color: #fd971f;
    }

    .s {
        color: #a6e22e;
    }

    .sb {
        color: #a6e22e;
    }

    .sc {
        color: #a6e22e;
    }

    .dl {
        color: #a6e22e;
    }

    .sd {
        color: #a6e22e;
    }

    .s2 {
        color: #a6e22e;
    }

    .sh {
        color: #a6e22e;
    }

    .sx {
        color: #a6e22e;
    }

    .s1 {
        color: #a6e22e;
    }

    .sa {
        color: #ae81ff;
    }

    .sr {
        color: #a1efe4;
    }

    .si {
        color: #cc6633;
    }

    .se {
        color: #cc6633;
    }

    .nn {
        color: #f4bf75;
    }

    .nc {
        color: #f4bf75;
    }

    .no {
        color: #f4bf75;
    }

    .na {
        color: #66d9ef;
    }

    .m {
        color: #a6e22e;
    }

    .mb {
        color: #a6e22e;
    }

    .mf {
        color: #a6e22e;
    }

    .mh {
        color: #a6e22e;
    }

    .mi {
        color: #a6e22e;
    }

    .il {
        color: #a6e22e;
    }

    .mo {
        color: #a6e22e;
    }

    .mx {
        color: #a6e22e;
    }

    .ss {
        color: #a6e22e;
    }
}